.contenedorItem {
    width: 550px;
    height: 550px;
    text-align: center;
    border: 2px solid rgb(173, 5, 5);
    margin: 4rem;
    margin-left: 700px;
}

img {
    width: 20vw;

}

.terminarCompra{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(138, 21, 36);
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    font-size: 20px;
}